{% extends 'layout.html' %}
{% block body %}

<p class="lead">데이터 스토어의 API를 활용한 애플리케이션 예제 모음 사이트입니다.</p>
<hr>

<div class="row">

  <div class="col-sm-6"><h2>Heading</h2>

    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>

    <p><a href="#" role="button" class="btn btn-default">View details »</a></p>
  </div>

  <div class="col-sm-6"><h2>Heading</h2>

    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>

    <p><a href="#" role="button" class="btn btn-default">View details »</a></p>
  </div>

  <div class="col-sm-6"><h2>Heading</h2>

    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>

    <p><a href="#" role="button" class="btn btn-default">View details »</a></p>
  </div>

  <div class="col-sm-6"><h2>Heading</h2>

    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>

    <p><a href="#" role="button" class="btn btn-default">View details »</a></p>
  </div>
</div>

{% endblock %}
